

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap'); 
body{
    font-family: 'Roboto Slab', serif;
}

.container{
    display: flex;
    flex-direction: column;
    
}


.section{
    
  display: flex;
  justify-content: center;
  align-items: center; 
    
}
.sectionImg{
    width: 600px;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody{
    margin-right: 20px;
}


img{
    width: 800px;
    height: 400px;
} 

li{
    font-size: 20px;
    list-style: none;
}
.monitores{
    width: auto;
    height: 300px;
}
.cpu{
    width: auto;
    height: 300px;
    margin-bottom: 30px;
}


.backgroundTexto{
    background-color: #ccc;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}
